body {
    background-image: url(./img/dice.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

div.dice {
    width: 32px;
    background: #fff;
    border: #d6d4d4 1px solid;
    border-radius: 15px;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}

main {
    text-align: center;
    width: 40%;
    background: #0e0e0e;
    padding: 50px 0;
    box-shadow: #000 0px 0px 10px 0px;
    margin: 50px;
}

.container1 {
    display: flex;
    justify-content: center;
}

.container1 {
    display: flex;
    justify-content: center;
}

.container2 {
    text-align: -webkit-center;
    
}

.container3 {
    text-align: -webkit-center;
   
}

button {
    padding: 10px 14px;
    border: none;
    background-color: #fff;
    font-family: monospace;
    font-size: 18px;
    font-weight: 600;
}

h2#status {
    color: #fff;
    align-self: center;
}

h1 {
    color: #ffff;
}
